/*Rules*/
@charset "UTF-8";

@font-face {
    font-family: 'CreamCake';
    src: url('../fonts/CreamCake.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Staytrue';
    src: url('../fonts/StaytrueDemo-Italic.otf') format('opentype');
    font-weight: normal;
}

:root {
    /*Variables*/
    --cor0: #FFFFFF;
    --cor1: #AAFC5D;
    --cor2: #A2F059;
    --cor3: #8CCE4D;
    --cor4: #90D64F;
    --cor5: #0FFB00;
    --cor6: #4C702A;
    --cor7: #000000;

    --default-font: Arial, Helvetica, sans-serif;
    --cream-font: 'CreamCake', sans-serif;
    --stay-font: 'Staytrue', Cursive;
}

* {
    /*Box model stuff*/
    margin: 0px;
    padding: 0px;
}

body {
    /*Box model stuff*/
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor5));
    /*Typography stuff*/
    font-family: var(--default-font);
}

header {
    /*Box model stuff*/
    min-height: 150px;
    padding-top: 20px;
    background-color: var(--cor4);
    background-image: linear-gradient(to bottom, #4b4949, #0c0c0c);
    /*Typography stuff*/
    text-align: center;
}

header>h1 {
    /*Box model stuff*/
    margin-bottom: 10px;
    margin-top: 10px;
    /*Typography stuff*/
    font-family: var(--stay-font);
    font-size: 4em;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.397);
    color: var(--cor5);
}

nav {
    /*Display stuff*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*Box model stuff*/
    padding-top: 10px;
}

nav>a {
    /*Box model stuff*/
    margin: 2px;
    padding: 10px;
    border-radius: 5px;
    /*Typography stuff*/
    font-weight: bold;
    text-decoration: none;
    color: var(--cor0);
    /*Manipulations stuff*/
    transition-duration: 0.5s;
}

nav>a:hover {
    /*Box model stuff*/
    background-color: var(--cor5);
}

main {
    /*Box model stuff*/
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--cor0);
    /*Miscellaneous*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.507);
}

main p {
    /*Box model stuff*/
    margin: 15px 0px;
    /*Typography stuff*/
    font-size: 1em;
    text-align: justify;
    text-indent: 30px;
    color: var(--cor7);
    /*Miscellaneous*/
    line-height: 2em;
}

section h2,
h3 {
    /*Box model stuff*/
    background-image: linear-gradient(to right, var(--cor5), transparent);
    /*Typography stuff*/
    font-family: var(--cream-font);
    font-size: 2.5em;
    font-weight: normal;
    text-indent: 8px;
    color: var(--cor7);
}

#servicos {
    /*Box model stuff*/
    margin-bottom: 15px;
    padding: 2px;

}

.s1 {
    /*Box model stuff*/
    padding: 20px;
    background-position: center;
    background-size: cover;
    /*Typography stuff*/
    text-align: center;
}

.s1 h2 {
    /*Box model stuff*/
    margin-bottom: 20px;
    /*Typography stuff*/
    font-size: 36px;
}

.agendar {
    /*Display stuff*/
    display: inline-block;
    /*Box model stuff*/
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #3d3d3d;
    /*Typography stuff*/
    font-weight: bold;
    text-decoration: none;
    color: var(--cor0);
    /*Manipulations stuff*/
    transition-duration: 0.5s;
}

.agendar:hover {
    /*Box model stuff*/
    background-color: var(--cor5);
}

.s2 {
    /*Box model stuff*/
    padding: 20px;
    /*Typography stuff*/
    text-align: center;
}

.s2>p {
    /*Box model stuff*/
    border: 1px solid var(--cor5);
    /*Typography stuff*/
    font-weight: bold;
    text-align: center;

}

.abaixo::after {
    /*Display stuff*/
    content: '\00A0\2B07';
}

.celular::after {
    /*Display stuff*/
    content: '\00A0\1F4F1';
}

.s2>ul {
    /*Typography stuff*/
    font-weight: bold;
    /*Miscellaneous*/
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

.service {
    /*Box model stuff*/
    margin-bottom: 40px;
}

.service img {
    /*Box model stuff*/
    max-width: 100%;
    border: 2px solid var(--cor5);
    border-radius: 20px;
    /*Miscellaneous*/
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.507);
}

.service h3 {
    /*Box model stuff*/
    margin-top: 10px;
    /*Typography stuff*/
    font-size: 2.5em;
}

footer {
    /*Box model stuff*/
    padding: 5px;
    background-color: var(--cor7);
    /*Typography stuff*/
    font-size: 0.8em;
    text-align: center;
    color: var(--cor0);
}