/*Rules*/
@charset "UTF-8";

@font-face {
    font-family: 'CreamCake';
    src: url('../fonts/CreamCake.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Staytrue';
    src: url('../fonts/StaytrueDemo-Italic.otf') format('opentype');
    font-weight: normal;
}

@keyframes fadeIn {
    00% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.content {
    /*Manipulations stuff*/
    animation: fadeIn 0.5s ease-in-out;
}

html {
    /*Miscellaneous*/
    scroll-behavior: smooth;
}

:root {
    /*Variables*/
    --cor0: #FFFFFF;
    --cor1: #F8A4A6;
    --cor2: #D98FB6;
    --cor3: #EFAAF0;
    --cor4: #C38FD9;
    --cor5: #C9A4F8;
    --cor6: #D957B4;
    --cor7: #000000;

    --default-font: Arial, Helvetica, sans-serif;
    --cream-font: 'CreamCake', sans-serif;
    --stay-font: 'Staytrue', Cursive;
}

* {
    /*Box model stuff*/
    margin: 0px;
    padding: 0px;
}

/* Dark Mode */
body.dark-mode {
    /*Box model stuff*/
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
    /*Typography stuff*/
    color: var(--cor0);
}

.dark-mode nav>a {
    /*Typography stuff*/
    color: var(--cor0);
}

.dark-mode nav>a:hover {
    /*Box model stuff*/
    background-color: var(--cor0);
    /*Typography stuff*/
    color: var(--cor7);
}

.dark-mode header {
    /*Box model stuff*/
    background-image: linear-gradient(to bottom, #222, var(--cor7));
}

.dark-mode main {
    /*Box model stuff*/
    background-color: #1e1e1e;
    /*Miscellaneous*/
    box-shadow: 0 0 10px var(--cor6), 0 0 20px var(--cor6), 0 0 30px var(--cor6), 0 0 40px var(--cor6), 0 0 50px var(--cor6);
}

.dark-mode h1 {
    /*Box model stuff*/
    background-image: linear-gradient(to right, var(--cor6), transparent);
    /*Typography stuff*/
    color: var(--cor0);
}

.dark-mode h2 {
    /*Box model stuff*/
    background-image: linear-gradient(to right, var(--cor6), transparent);
    /*Typography stuff*/
    color: var(--cor0);
}

.dark-mode main p,
.dark-mode footer {
    /*Typography stuff*/
    color: var(--cor0);
}

.dark-mode #agendar {
    /*Box model stuff*/
    background-color: var(--cor6);
    /*Typography stuff*/
    color: var(--cor0);
}

.dark-mode #agendar:hover {
    /*Box model stuff*/
    background-color: var(--cor0);
    /*Typography stuff*/
    color: var(--cor7);
}

.dark-mode .abaixo,
.dark-mode .celular {
    /*Box model stuff*/
    border: 1px solid var(--cor6);
    /*Typography stuff*/
    color: var(--cor0);
}

.dark-mode .img {
    /*Box model stuff*/
    border: 2px solid var(--cor6);
    /*Miscellaneous*/
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.507);
}

#dark-mode-toggle {
    /*Positioning stuff*/
    position: absolute;
    right: 10px;
    top: 10px;
    /*Box model stuff*/
    padding: 5px;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    /*Typography stuff*/
    font-size: 25px;
    /*Miscellaneous*/
    cursor: pointer;
}

body {
    /*Box model stuff*/
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor5));
    /*Typography stuff*/
    font-family: var(--default-font);
}

header {
    /*Positioning stuff*/
    position: relative;
    /*Box model stuff*/
    min-height: 150px;
    background-color: var(--cor4);
    background-image: linear-gradient(to bottom, #4b4949, var(--cor7));
    /*Typography stuff*/
    text-align: center;
}

#logo {
    /*Box model stuff*/
    width: 350px;
    max-width: 100%;
    height: 200px;
    /*Manipulations stuff*/
    transition: transform 0.3s;
}

#logo:hover {
    /*Manipulations stuff*/
    transform: scale(1.05);
}

nav {
    /*Display stuff*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*Box model stuff*/
    padding-bottom: 10px;
}

nav>a {
    /*Box model stuff*/
    margin: 2px;
    padding: 10px;
    border-radius: 50px;
    /*Typography stuff*/
    font-weight: bold;
    text-decoration: none;
    color: var(--cor0);
    /*Manipulations stuff*/
    transition-duration: 0.5s;
}

nav>a:hover {
    /*Box model stuff*/
    background-color: var(--cor5);
    /*Typography stuff*/
    color: var(--cor7);
}

main {
    /*Box model stuff*/
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--cor0);
    /*Miscellaneous*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.507);
}

main p {
    /*Box model stuff*/
    margin: 15px 0px;
    /*Typography stuff*/
    font-size: 1em;
    text-align: center;
    color: var(--cor7);
    /*Miscellaneous*/
    line-height: 2em;
}

h1,
h2 {
    /*Box model stuff*/
    border-radius: 5px;
    background-image: linear-gradient(to right, var(--cor5), transparent);
    /*Typography stuff*/
    font-family: var(--cream-font);
    font-size: 2.5em;
    font-weight: normal;
    text-indent: 8px;
    color: var(--cor7);
}

section {
    /*Box model stuff*/
    padding: 20px;
    /*Typography stuff*/
    text-align: center;
}

section ul {
    /*Typography stuff*/
    font-weight: bold;
    /*Miscellaneous*/
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

#agendar {
    /*Display stuff*/
    display: inline-block;
    /*Box model stuff*/
    margin-bottom: 15px;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: var(--cor7);
    /*Typography stuff*/
    font-weight: bold;
    text-decoration: none;
    color: var(--cor0);
    /*Manipulations stuff*/
    transition-duration: 0.5s;
}

#agendar:hover {
    /*Box model stuff*/
    background-color: var(--cor5);
    /*Typography stuff*/
    color: var(--cor7);
}

.abaixo {
    /*Box model stuff*/
    border: 1px solid var(--cor5);
    border-radius: 5px;
    /*Typography stuff*/
    font-weight: bold;
    text-align: center;
}

.abaixo::after {
    /*Display stuff*/
    content: '\00A0\2B07';
}

.celular {
    /*Box model stuff*/
    border: 1px solid var(--cor5);
    border-radius: 5px;
    /*Typography stuff*/
    font-weight: bold;
    text-align: center;
}

.celular::after {
    /*Display stuff*/
    content: '\00A0\1F4F1';
}

.img {
    /*Box model stuff*/
    max-width: 100%;
    margin-bottom: 40px;
    border: 2px solid var(--cor5);
    border-radius: 20px;
    /*Manipulations stuff*/
    transition: transform 0.3s;
    /*Miscellaneous*/
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.507);
}

.img:hover {
    /*Manipulations stuff*/
    transform: scale(1.05);
}

#back-to-top-button {
    /*Positioning stuff*/
    position: absolute;
    right: 5px;
    bottom: 5px;
    /*Box model stuff*/
    padding: 0px 0px;
    border-radius: 50px;
    /*Typography stuff*/
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    /*Manipulations stuff*/
    transition: background-color 0.3s, color 0.3s;
    /*Miscellaneous*/
    cursor: pointer;
}

#back-to-top-button:hover {
    /*Box model stuff*/
    background-color: var(--cor0);
}

footer {
    /*Positioning stuff*/
    position: relative;
    /*Box model stuff*/
    padding: 10px;
    background-color: var(--cor7);
    /*Typography stuff*/
    font-size: 0.8em;
    text-align: center;
    color: var(--cor0);
}